
<p>The ID from the URL for this title is : {{movie_detail_id}}</p>


<div>
    <p style="text-align: center; font-size: 30px; font-weight: 200;">{{movie_detail.Title}}</p>
    <img width="300" src={{movie_detail.Poster}} />

    <h4 style=" font-size: 40px;"> Details </h4>
    <ul style="color: tomato; font-size:15px;">
      <h2> Year:{{movie_detail.Year}}</h2>
      <h2> Released:{{movie_detail.Released}}</h2>
      <h2> Actors:{{movie_detail.Actors}}</h2>
      <h2> Country:{{movie_detail.Country}}</h2>
      <h2> Writer:{{movie_detail.Writer}}</h2>
      <h2> Genre:{{movie_detail.Genre}}</h2>
      <h2> Language:{{movie_detail.Language}}</h2>




    </ul>

</div>
