<input style=" width: 30%;
 height: 30px;"
 id="search"
(blur)="changeBorder($event, 'green')"
(keyup)="onKeyUp($event, '')"
(keydown)="onKeyDown($event)"
(keypress)="onKeyPress($event)"
style="font-size: 20px;
margin-left: 500px;"
placeholder="Search for a movie..."/>

<button
style="background-color: indianred;
 width: 100px;
 height: 30px;
 font-weight: 500;
 font-size: 20px;
 margin-top: 30px;"
 (click)="searchMovie()">Search</button>

<div id="results">
  <ng-container *ngIf="movies">
    <div *ngFor="let movie of movies">
      <button style="background-color:indianred;
      color: white;
      height: 30px;"
      [routerLink]="['/show_detail', movie.imdbID]">{{ movie.Title }} </button>

    </div>
  </ng-container>
</div>

